<div class="container">
  <div class="row text-center" style="padding: 0;">
    <div class="col-12">
      <h1 class="text-uppercase font-weight-bold">
        Báo chí nói gì về Lạc Hồng?
      </h1>
      <div
        class="img-fluid lazy spin first"
        data-src="images/idol-dui-3.png"
        data-alt="idol dui"
      ></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/1.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/1.png" data-alt="Đại học Lạc Hồng lần thứ 3 vô địch robot châu Á - Thái Bình Dương"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>Đại học Lạc Hồng lần thứ 3 vô địch robot châu Á - Thái Bình Dương</h3>
      <p class="text-justify">
        (ĐN)- Chiều 26-8, tại tỉnh Ninh Bình, đội LH-Galaxy (Việt Nam 2)
        đã đánh bại đối thủ Trung Quốc để giành chức vô địch cuộc thi robot châu Á - Thái Bình Dương
        năm 2018 do Hiệp hội phát thanh truyền hình châu Á - Thái Bình Dương (ABU) và Đài Truyền hình Việt Nam tổ chức.
        <br><a target="_blank" href="http://www.baodongnai.com.vn/tintuc/201808/dai-hoc-lac-hong-lan-thu-3-vo-dich-robot-chau-a-thai-binh-duong-2908367/">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/2.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/2.png" data-alt="Việt Nam lần thứ 5 vô địch châu Á về xe tiết kiệm nhiên liệu"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>Việt Nam lần thứ 5 vô địch châu Á về xe tiết kiệm nhiên liệu</h3>
      <p class="text-justify">
        Đạt thành tích 170 km với 1 kWh điện, Đại học Lạc Hồng vô địch cuộc thi với mô hình đô thị.
        Ngày 1/5, sinh viên Đại học Lạc Hồng (Đồng Nai) đã vượt qua nhiều đối thủ mạnh để về nhất cuộc thi
        Sáng tạo xe tiết kiệm nhiên liệu châu Á - Shell Eco Marthon Asia 2019 diễn ra tại Malaysia.
        Đây là chức vô địch thứ 5 liên tiếp của Đại học Lạc Hồng.
        <br><a target="_blank" href="https://vnexpress.net/khoa-hoc/viet-nam-lan-thu-5-vo-dich-chau-a-ve-xe-tiet-kiem-nhien-lieu-3917157.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/3.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/3.png" data-alt="Trường ĐH Lạc Hồng lần thứ 8 vô địch Robocon"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>Trường ĐH Lạc Hồng lần thứ 8 vô địch Robocon</h3>
      <p class="text-justify">
        Giành chiến thắng tuyệt đối "rồng bay" với thời gian 22 giây,
        đội LH-ATM của Trường ĐH Lạc Hồng đã đoạt giải Nhất tại cuộc thi sáng tạo Robocon Việt Nam 2018.
        <br><a target="_blank" href="https://thanhnien.vn/giao-duc/truong-dh-lac-hong-lan-thu-8-vo-dich-robocon-962405.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/4.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/4.png" data-alt="Đỗ Nguyễn Như Huỳnh đăng quang Hoa khôi Du lịch Đồng Nai 2019"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>Đỗ Nguyễn Như Huỳnh đăng quang Hoa khôi Du lịch Đồng Nai 2019</h3>
      <p class="text-justify">
        Vượt qua nhiều đối thủ 'nặng ký', Đỗ Nguyễn Như Huỳnh đăng quang
        Hoa khôi Du lịch Đồng Nai 2019, nhận vương miện và giải thưởng trị giá 100 triệu đồng.
        <br><a target="_blank" href="https://thanhnien.vn/van-hoa/do-nguyen-nhu-huynh-dang-quang-hoa-khoi-du-lich-dong-nai-2019-1154270.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/5.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/5.png" data-alt="LHU lần thứ 2 nhận Huân chương Lao động hạng Nhất"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>LHU lần thứ 2 nhận Huân chương Lao động hạng Nhất</h3>
      <p class="text-justify">
        Đương kim vô địch Cuộc thi "Sáng tạo Robot châu Á - Thái Bình Dương 2018" (ABU),
        Robocon Đại học Lạc Hồng vinh dự đón nhận Huân chương Lao động hạng Nhất.
        Góp thêm vinh dự cho Đại học Lạc Hồng lần thứ 2 liên tiếp đón nhận Huân chương Lao động hạng Nhất cao quý.
        <br><a target="_blank" href="https://lhu.edu.vn/184/33242/LHU-lan-thu-2-nhan-Huan-chuong-Lao-dong-hang-Nhat.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/6.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/6.png" data-alt="Lộ diện 4 đội đầu tiên cụm miền Nam vào Bán kết Cuộc đua số"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h3>Lộ diện 4 đội đầu tiên cụm miền Nam vào Bán kết Cuộc đua số</h3>
      <p class="text-justify">
        Đội KOR 205, Đại học Bách khoa - Đại học Quốc gia TP HCM và đội LHU Speed, Đại học Lạc Hồng,
        là 2 đội đạt số điểm cao nhất tại các vòng thi sơ loại trường Đại học Bách khoa - Đại học Quốc gia TP HCM và các trường cụm miền Nam,
        giành những tấm vé tiếp theo vào vòng Bán kết Cuộc đua số 2018-2019.
        <br><a target="_blank" href="https://chungta.vn/cong-nghe/lo-dien-4-doi-dau-tien-cum-mien-nam-vao-ban-ket-cuoc-dua-so-1123421.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/7.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/7.png" data-alt="Lộ diện 4 đội đầu tiên cụm miền Nam vào Bán kết Cuộc đua số"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>ĐH Lạc Hồng về Nhất vòng loại Cuộc đua số phía Nam</h3>
      <p class="text-justify">
        Dù phải đối mặt với các đội thi đến từ 4 trường đại học khác nhưng đại diện
        của ĐH Lạc Hồng vẫn xuất sắc giành giải Nhất buổi thi sơ loại thứ tư khu vực phía Nam vào chiều 5/1.
        <br><a target="_blank" href="https://chungta.vn/photo/cuoc-dua-so/dh-lac-hong-ve-nhat-vong-loai-cuoc-dua-so-phia-nam-1128695.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/8.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/8.png" data-alt="LHU Racing 304 đạt giải Ba thi lập trình xe tự hành đầu tiên ở Việt Nam"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>LHU Racing 304 đạt giải Ba thi lập trình xe tự hành đầu tiên ở Việt Nam</h3>
      <p class="text-justify">
        Nhóm sinh viên Công nghệ Thông tin của Đại học Lạc Hồng đạt giải Ba chung cuộc, ngay sau khi chinh phục thử thách
        của Tập đoàn FPT tại Chung kết Cuộc đua số - Xe không người lái. Cuộc thi diễn ra vào tối ngày 10/05 tại nhà thi đấu Cầu Giấy (35 Trần Quý Kiên, Cầu Giấy, Hà Nội).
        <br><a target="_blank" href="https://lhu.edu.vn/166/31033/LHU-Racing-304-dat-giai-Ba-thi-lap-trinh-xe-tu-hanh-dau-tien-o-Viet-Nam.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/9.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/9.png" data-alt="Sinh viên Lạc Hồng bội thu tại Cuộc đua số cụm miền Nam"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Sinh viên Lạc Hồng "bội thu" tại Cuộc đua số cụm miền Nam</h3>
      <p class="text-justify">
        Vượt qua hơn 40 đội tiêu biểu của các trường có thế mạnh về đào tạo lĩnh vực Công nghệ thông tin,
        2 đội sinh viên Đại học (ĐH) Lạc Hồng “bội thu” với 2 giải thưởng cao nhất Cuộc đua số mùa giải 2018-2019 cụm thi miền Nam.
        Cuộc thi diễn ra vào cuối tuần qua (12 và 13/1/2019)
        tại Đại học Bách khoa - Đại học Quốc gia TP HCM. Qua đó thu hút hàng trăm
        sinh viên yêu thích công nghệ cùng lãnh đạo, giảng viên các trường đã có mặt, đồng hành cùng các thí sinh.
        <br><a target="_blank" href="https://lhu.edu.vn/184/33320/Sinh-vien-Lac-Hong-boi-thu-tai-Cuoc-dua-so-cum-mien-Nam.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/10.png">
          <div class="img-fluid lazy element-1 gradient first rounded-lg" data-src="images/12_bao_chi/10.png" data-alt="LHU The Walkers đạt giải Ba chung kết Cuộc đua số"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <h3>LHU The Walkers đạt giải Ba chung kết Cuộc đua số</h3>
      <p class="text-justify">
        LHU The Walkers – ĐH Lạc Hồng đã cùng các đội đến từ các trường đại học công nghệ hàng đầu Việt Nam,
        Anh và Nga so tài trong trận chung kết cuộc đua xe tự hành quốc tế lần thứ ba do FPT và VTV tổ chức.
        Chung cuộc, đội ĐH Lạc Hồng về Ba cùng với giải thưởng trị giá 10 triệu đồng.
        <br><a target="_blank" href="https://sinhviendanghoc.lhu.edu.vn/21/34070/LHU-The-Walkers-dat-giai-Ba-chung-ket-Cuoc-dua-so.html">xem thêm</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/11.jpg">
          <div class="img-fluid lazy element gradient first rounded-lg" data-src="images/12_bao_chi/11.jpg" data-alt="ABU"></div>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/12.jpg">
          <div class="img-fluid lazy element gradient first rounded-lg" data-src="images/12_bao_chi/12.jpg" data-alt="ABU"></div>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/13.jpg">
          <div class="img-fluid lazy element gradient first rounded-lg" data-src="images/12_bao_chi/13.jpg" data-alt="ABU"></div>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="paper-image">
        <a href="images/12_bao_chi/14.jpg">
          <div class="img-fluid lazy element gradient first rounded-lg" data-src="images/12_bao_chi/14.jpg" data-alt="ABU"></div>
        </a>
      </div>
    </div>
  </div>
</div>
