<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="text-uppercase font-weight-bold">
        LẠC HỒNG VÀ NHỮNG "CÚ HICK"
      </h1>
      <div
        class="img-fluid lazy spin first"
        data-src="images/idol-dui-2.png"
        data-alt="idol dui"
      ></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <section class="timeline" id="section-1">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <!-- <span class="date">Lẫy lừng sáng tạo Robot</span> -->
            <h4 class="title">Lẫy lừng sáng tạo Robot</h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  Năm 2019, đánh dấu 9 năm liên tiếp LHU vô địch cuộc thi Sáng tạo Robocon Việt Nam
                </li>
                <li>
                  Tháng 8/2019  LH – WAO đại diện của Việt Nam đã xuất sắc mang về giải thưởng ABU Robocon Award 2019,
                  giải Ba  châu Á Thái Bình Dương 2019 và giải thưởng MABUCHI do nhà tài trợ trao tặng tại Mông Cổ.
                </li>
                <li>
                  Ngày 15/12/2018 Đương kim vô địch Cuộc thi "Sáng tạo Robot châu Á - Thái Bình Dương 2018" (ABU),
                  Robocon Đại học Lạc Hồng vinh dự đón nhận Huân chương Lao động hạng Nhất.
                  (Góp thêm vinh dự cho Đại học Lạc Hồng lần thứ 2 liên tiếp đón nhận Huân chương Lao động hạng Nhất cao quý)
                </li>
                <li>
                  Ngày 26/8/2018 Đại học Lạc Hồng là đội Việt Nam đầu tiên vô địch trên sân nhà sau 3 lần Việt Nam đăng cai
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/1_robocon/1.JPG"
                ><div
                  class="img-fluid lazy first element gradient"
                  data-src="images/1_robocon/1.JPG"
                  data-alt="Cuộc thi ABU Robocon 2019 tại Mông Cổ"
                ></div></a
              ><a href="images/1_robocon/2.JPG"
                ><div
                  class="img-fluid lazy first element gradient"
                  data-src="images/1_robocon/2.JPG"
                  data-alt="Cuộc thi ABU Robocon 2019 tại Mông Cổ"
                ></div></a
              ><a class="d-none" href="images/1_robocon/3.JPG"
                ><div
                  class="img-fluid lazy first element gradient"
                  data-src="images/1_robocon/3.JPG"
                  data-alt="Cuộc thi ABU Robocon 2019 tại Mông Cổ"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-1"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>
        <section class="timeline" id="section-2">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <h4 class="title">
              Shell Eco marathon Asia, LHU mang trí tuệ Việt ra đường đua thế giới
            </h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  Ngày 3/7/2019 LH-EST lọt vào TOP 4 thế giới sau 2 lượt chạy tại Drivers’ World Championship tại Anh.
                </li>
                <li>
                  Ngày 1/5/2019 Dẫn trước Indonesia 1km/kwh_LH EST bảo vệ thành công chức vô địch Châu Á.
                  Xác lập kỷ lục 5 năm liên tiếp (2015 – 2019) ĐH Lạc Hồng – Việt Nam Vô địch cuộc thi hạng mục thể loại Urban concept Battery Electric (mô hình đô thị chạy bằng nhiên liệu điện)
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/2_lhu_est_top_4/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/2_lhu_est_top_4/1.JPG"
                  data-alt="LH-EST lọt vào TOP 4 thế giới"
                ></div></a
              ><a href="images/2_lhu_est_top_4/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/2_lhu_est_top_4/2.JPG"
                  data-alt="LH-EST lọt vào TOP 4 thế giới"
                ></div></a
              ><a href="images/2_lhu_est_top_4/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/2_lhu_est_top_4/3.JPG"
                  data-alt="LH-EST lọt vào TOP 4 thế giới"
                ></div></a
              ><a class="d-none" href="images/2_lhu_est_top_4/4.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/2_lhu_est_top_4/4.JPG"
                  data-alt="LH-EST lọt vào TOP 4 thế giới"
                ></div></a
              ><a class="d-none" href="images/2_lhu_est_top_4/5.JPG"
                ><div
                  class="img-fluid wow-lazy element portrait gradient"
                  data-src="images/2_lhu_est_top_4/5.JPG"
                  data-alt="LH-EST lọt vào TOP 4 thế giới"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-2"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>
        <section class="timeline" id="section-3">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <h4 class="title">
              Trường ĐH tư thục đầu tiên của cả nước đạt chuẩn chuất lượng AUN - QA
            </h4>
            <p class="description">
              Chiều ngày 20/6/2019 tại Trường Đại học Lạc Hồng “nhiệt độ” tăng mạnh vì thông tin 02 chương trình
              đào tạo ngành Công nghệ Thông tin và chương trình đào tạo ngành Công nghệ kỹ thuật Điện – Điện tử
              của trường đạt chuẩn đánh giá chất lượng AUN-QA,
              đưa Lạc Hồng thành trường đại học tư thục đầu tiên của cả nước có chương
              trình đào tạo đạt chuẩn đánh giá chất lượng của Mạng lưới các trường đại học Đông Nam Á (ASEAN University Network – AUN).
            </p>
            <div class="images">
              <a href="images/3_AUN _QA/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/3_AUN _QA/1.JPG"
                  data-alt="chuẩn đánh giá chất lượng Đông Nam Á (AUN-QA)"
                ></div></a
              ><a href="images/3_AUN _QA/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/3_AUN _QA/2.JPG"
                  data-alt="chuẩn đánh giá chất lượng Đông Nam Á (AUN-QA)"
                ></div></a
              ><a class="d-none" href="images/3_AUN _QA/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/3_AUN _QA/3.JPG"
                  data-alt="chuẩn đánh giá chất lượng Đông Nam Á (AUN-QA)"
                ></div></a
              ><a class="d-none" href="images/3_AUN _QA/4.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/3_AUN _QA/4.JPG"
                  data-alt="chuẩn đánh giá chất lượng Đông Nam Á (AUN-QA)"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-3"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>

        <section class="timeline" id="section-11">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <h4 class="title">
              Đại Học đầu tiên của Tỉnh Đồng Nai đạt kiểm định chất lượng Giáo dục theo quy định hiện hành của Bộ GD&ĐT
            </h4>
            <p class="description">
              Ngày 31/1/2018, sau quá trình không ngừng đầu tư cho chất lượng giáo dục và
              hướng tới tiêu chuẩn chất lượng quốc tế. Đại học Lạc Hồng đã được Trung tâm
              kiểm định chất lượng giáo dục ĐH Quốc gia TPHCM đã tiến hành đánh giá chính
              thức và công nhận đạt chất lượng cấp cơ sở giáo dục theo tiêu chuẩn kiểm định
              chất lượng của Bộ GD&ĐT. Kết quả này là dấu mốc qua trọng của trường trong 20 năm
              thành lập và phát triển, góp phần nâng cao nhận thức
              về công tác đảm bảo chất lượng của cán bộ, giảng viên và là đòn bẩy quan trọng
              giúp nhà trường cải tiến, nâng cao chất lượng giáo dục hướng tới tiêu chuẩn chất lượng khu vực và quốc tế”.
            </p>
            <div class="images">
              <a href="images/7_dat_kiem_dinh_chat_luong/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/7_dat_kiem_dinh_chat_luong/1.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a href="images/7_dat_kiem_dinh_chat_luong/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/7_dat_kiem_dinh_chat_luong/2.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a
                class="d-none"
                href="images/7_dat_kiem_dinh_chat_luong/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/7_dat_kiem_dinh_chat_luong/3.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a
                class="d-none"
                href="images/7_dat_kiem_dinh_chat_luong/4.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/7_dat_kiem_dinh_chat_luong/4.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-11"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>

        <section class="timeline" id="section-6">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <h4 class="title">
              Hai lần vinh dự đón nhận Huân chương Lao động hạng Nhất
            </h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  Tháng 11/2017 nhân dịp kỷ niệm 20 năm thành lập Trường (1997-2017), Đại học Lạc Hồng lần đầu tiên vinh dự đón nhận Huân chương Lao động hạng Nhất do Chủ tịch nước trao tặng...
                </li>
                <li>
                  Ngày 15/12/2018 sau khi bảo vệ thành công ngôi Đương kim vô địch Cuộc thi "Sáng tạo Robot châu Á - Thái Bình Dương 2018" (ABU), Đại học Lạc Hồng vinh dự đón nhận Huân chương Lao động hạng Nhất lần thứ 2.
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/5_huan_chuong_hang_nhat/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/5_huan_chuong_hang_nhat/1.JPG"
                  data-alt="Huân chương hạng nhất"
                ></div></a
              ><a href="images/5_huan_chuong_hang_nhat/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/5_huan_chuong_hang_nhat/2.JPG"
                  data-alt="Huân chương hạng nhất"
                ></div
              ></a>
            </div>
          </div>
        </section>

        <section class="timeline" id="section-15">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <h4 class="title">
              Chinh phục “Xe không người lái đầu tiên tại Việt Nam”
            </h4>
            <p class="description">
              Tháng 4/2017  LHU đoạt giải 3 "CUỘC ĐUA SỐ ”.
              Xe không người lái đầu tiên ở Việt Nam. Đây là cuộc
              thi lập trình điều khiển xe không người lái và đua xe trên sa hình mô phỏng đường phố thật tại Việt Nam.
            </p>
            <div class="images">
              <a href="images/10_cds/4.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/4.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a href="images/10_cds/7.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/7.JPG"
                  data-alt="cuộc đua số"
                ></div
              ></a>
            </div>
          </div>
        </section>


        <section class="timeline" id="section-16">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <h4 class="title">
              Đại diện Việt Nam tranh tài Cuộc thi Koma Taisen thế giới
            </h4>
            <p class="description">
              Sau khi xuất sắc dẫn đầu trước 19 đội con quay của đội đến từ các trường ĐH- CĐ
              và các doanh nghiệp, đội con quay Koma Taisen Trường Đại học Lạc Hồng
              (LHU Koma Taisen) đã giành được tấm vé để tranh tài tại Cuộc thi Koma Taisen thế giới 2019 tại Nhật Bản (2/2020).
            </p>
            <div class="images">
              <a href="images/13_koma_taisen/1.jpg"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/13_koma_taisen/1.jpg"
                  data-alt="koma taisen"
                ></div></a
              ><a href="images/13_koma_taisen/2.jpg"
                ><div
                  class="img-fluid portrait wow-lazy element gradient"
                  data-src="images/13_koma_taisen/2.jpg"
                  data-alt="koma taisen"
                ></div
              ></a>
              <a href="images/13_koma_taisen/3.jpg"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/13_koma_taisen/3.jpg"
                  data-alt="koma taisen"
                ></div
              ></a>
            </div>
          </div>
        </section>

        <section class="timeline" id="section-14">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <h4 class="title">
              Vô địch cuộc thi “VIETNAM IOT HACKATHON”
            </h4>
            <p class="description">
              Nửa cuối năm 2017 LHU vô địch cuộc thi “VIETNAM IOT HACKATHON”
              do tập đoàn Viettel tổ chức. Dự án đoạt giải, được tập đoàn Viettel
              hỗ trợ để phát triển và triển khai vào thực tế.
            </p>
            <div class="images">
              <a href="images/9_hackathon/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/9_hackathon/1.JPG"
                  data-alt="IOT"
                ></div></a
              ><a href="images/9_hackathon/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/9_hackathon/2.JPG"
                  data-alt="IOT"
                ></div
              ></a>
            </div>
          </div>
        </section>

        <section class="timeline" id="section-12">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <h4 class="title">
              Tài năng khởi nghiệp
            </h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  Năm 2019, dự án “Truy xuất nguồn gốc sản phẩm nông
                  nghiệp sử dụng công nghệ Blockchain” của nhóm giảng viên khoa CNTT đoạt
                  giải nhất cuộc thi “Khởi nghiệp đổi mới sáng tạo” năm 2019 do Sở Khoa học- công nghệ Tỉnh tổ chức.
                </li>
                <li>
                  Năm 2018 đạt top 15 dự án khởi nghiệp cấp quốc gia VCCI
                </li>
                <li>
                  Cuối năm 2017 Giải Nhất và giải ba “Khởi nghiệp phía Nam –  2017”.
                  Giải nhất thuộc về dự án “Nước cốt chùm ngây Mola”- Nhóm tác giả
                  khoa Dược trường Đại Học Lạc Hồng. Giải ba thuộc về dự án” Trung tâm chăm sóc
                  sức khỏe_sắc đẹp cho phụ nữ sau sinh và trẻ em sơ sinh tại nhà” _Nhóm tác giả khoa QT-KTQT trường Đại Hồng Lạc Hồng.
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/11_khoi_nghiep/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/11_khoi_nghiep/1.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a href="images/11_khoi_nghiep/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/11_khoi_nghiep/2.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a
                class="d-none"
                href="images/11_khoi_nghiep/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/11_khoi_nghiep/3.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a
                class="d-none"
                href="images/11_khoi_nghiep/4.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/11_khoi_nghiep/4.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-12"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>

        <section class="timeline" id="section-17">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <h4 class="title">
              Ấn tượng sinh viên Đông phương
            </h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  02 sinh viên ngành Nhật Bản học đoạt giải Ba tại cuộc thi “Bản lĩnh Nhật ngữ lần thứ 9” tổ chức tại trường Đại học Ngoại Thương (chi nhánh Thành phố Hồ Chí Minh)
                </li>
                <li>
                  Nữ sinh ngành Nhật bản học đạt giải Á khôi 1 MISS SAKURA 2018 và Á Khôi 2 Miss Sakura 2019.
                </li>
                <li>
                  Năm 2019 Sinh viên ngành Trung Quốc học đạt 2 giải 3 tại Cuộc thi "Nhịp cầu Hán ngữ" do Bộ Giáo dục Trung Quốc tổ chức
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/14_dp/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/14_dp/1.JPG"
                  data-alt="Ấn tượng sinh viên Đông phương"
                ></div></a
              ><a href="images/14_dp/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/14_dp/2.JPG"
                  data-alt="Ấn tượng sinh viên Đông phương"
                ></div></a
              ><a
                class="d-none"
                href="images/14_dp/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/14_dp/3.JPG"
                  data-alt="Ấn tượng sinh viên Đông phương"
                ></div></a
              >
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-17"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>

        <section class="timeline" id="section-4">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <h4 class="title">
              Sôi nổi hoạt động nghiên cứu khoa học – chuyển giao công nghệ
            </h4>
            <p class="description">
              <ul class="text-justify">
                <li>
                  Năm 2017 Đại học Lạc Hồng đứng đầu bảng xếp hạng 59 trường ngoài
                  công lập tại Việt Nam phát triển mạnh về hoạt động nghiên cứu khoa học -
                  chuyển giao công nghệ. Đánh giá này được Bộ giáo dục và đào tạo
                  công bố thông qua báo cáo tại Hội nghị các trường Đại học ngoài công lập diễn ra vào trung tuần tháng 04/2017.
                </li>
                <li>
                  Năm 2019 Trường có 12 báo của sinh viên được đăng trên tạp chí quốc tế
                </li>
              </ul>
            </p>
            <div class="images">
              <a href="images/15_chuyen_giao_cong_nghe/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/15_chuyen_giao_cong_nghe/1.JPG"
                  data-alt="Chuyển giao công nghệ"
                ></div></a
              ><a href="images/15_chuyen_giao_cong_nghe/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/15_chuyen_giao_cong_nghe/2.JPG"
                  data-alt="Chuyển giao công nghệ"
                ></div></a
              ><a
                href="images/15_chuyen_giao_cong_nghe/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/15_chuyen_giao_cong_nghe/3.JPG"
                  data-alt="Chuyển giao công nghệ"
                ></div></a
              >
            </div>
          </div>
        </section>

        <!-- <section class="timeline" id="section-8">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <span class="date">Ngày 25/5/2019</span>
            <h4 class="title">
              LHU The Walkers đạt giải Ba<br />chung kết Cuộc đua số
            </h4>
            <p class="description">
              LHU The Walkers – ĐH Lạc Hồng đã cùng các đội đến từ các
              trường đại học công nghệ hàng đầu Việt Nam, Anh và Nga so
              tài trong trận chung kết cuộc đua xe tự hành quốc tế lần thứ
              ba do FPT và VTV tổ chức. Chung cuộc, đội ĐH Lạc Hồng về Ba
              cùng với giải thưởng trị giá 10 triệu đồng.
            </p>
            <div class="images">
              <a href="images/10_cds/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/2.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a href="images/10_cds/17.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient portrait"
                  data-src="images/10_cds/17.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/10.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/10.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/16.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/16.JPG"
                  data-alt="cuộc đua số"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-8"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>
        <section class="timeline" id="section-7">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <span class="date">Tháng 4/2019</span>
            <h4 class="title">
              Lạc Hồng lọt top 4 đội mạnh nhất cuộc đua số khu vực phía
              nam
            </h4>
            <p class="description">
              Trải qua 2 lượt thi đấu của vòng Bán kết, 4 đội thi SQ26 (ĐH
              Thông tin liên lạc), CDSNTU2 (ĐH Nha Trang), Dateh IT (ĐH
              Khoa học tự nhiên TP HCM) và LHU The Walkers (ĐH Lạc Hồng)
              đã ghi tên vào Chung kết Cuộc đua số 2018-2019.
            </p>
            <div class="images">
              <a href="images/10_cds/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/3.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a href="images/10_cds/5.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient portrait"
                  data-src="images/10_cds/5.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/11.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/11.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/15.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/15.JPG"
                  data-alt="cuộc đua số"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-7"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>
        <section class="timeline" id="section-5">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <span class="date">Ngày 13/1/2019</span>
            <h4 class="title">
              Sinh viên Lạc Hồng "bội thu" tại Cuộc đua số cụm miền Nam
            </h4>
            <p class="description">
              Vượt qua hơn 40 đội tiêu biểu của các trường có thế mạnh về
              đào tạo lĩnh vực Công nghệ thông tin, 2 đội sinh viên Đại
              học (ĐH) Lạc Hồng “bội thu” với 2 giải thưởng cao nhất Cuộc
              đua số mùa giải 2018-2019 cụm thi miền Nam.
            </p>
            <div class="images">
              <a href="images/10_cds/13.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/13.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a href="images/10_cds/14.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/14.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/8.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/8.JPG"
                  data-alt="cuộc đua số"
                ></div></a
              ><a class="d-none" href="images/10_cds/6.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/10_cds/6.JPG"
                  data-alt="cuộc đua số"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-5"
                >Xem thêm</small
              >
            </div>
          </div>
        </section>

        <section class="timeline" id="section-9">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <span class="date">Ngày 26/8/2018</span>
            <h4 class="title">
              Đại học Lạc Hồng một lần nữa giành chiến thắng Robocon
            </h4>
            <p class="description">
              Đại học Lạc Hồng một lần nữa giành chức vô địch tại cuộc thi
              Sáng tạo Robot châu Á Thái Bình Dương. Đây cũng là đội chủ
              nhà đầu tiên vô địch trên sân nhà sau 3 lần Việt Nam đăng
              cai.
            </p>
            <div class="images">
              <a href="images/1_robocon/5.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/1_robocon/5.JPG"
                  data-alt="robocon"
                ></div></a
              ><a href="images/1_robocon/6.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/1_robocon/6.JPG"
                  data-alt="robocon"
                ></div
              ></a>
            </div>
          </div>
        </section>
        <section class="timeline" id="section-10">
          <div class="timeline-icon"></div>
          <div class="timeline-content right wow slideInRight">
            <span class="date">Tháng 3/2018</span>
            <h4 class="title">
              Xe tiết kiệm nhiên liệu của sinh viên LHU bảo vệ thành công
              chức vô địch châu Á
            </h4>
            <p class="description">
              LH-EST lập kỷ lục 4 năm liên tiếp Trường ĐH Lạc Hồng vô địch
              tại cuộc thi Shell Eco-marathon Asia (2015 - 2018). Đặc biệt
              giành tấm vé vào vòng tuyển chọn "Tay đua vô địch thế giới"
              diễn ra vào ngày 11/03/2018. Cuộc thi diễn ra tại Trung tâm
              triển lãm quốc tế Changi – Singapore trong 4 ngày từ (từ 08
              – 11/03/2018).
            </p>
            <div class="images">
              <a href="images/6_xe_tknl_2018/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/6_xe_tknl_2018/1.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div></a
              ><a href="images/6_xe_tknl_2018/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/6_xe_tknl_2018/2.JPG"
                  data-alt="xe tiết kiệm nhiên liệu"
                ></div
              ></a>
            </div>
          </div>
        </section>


        <section class="timeline" id="section-13">
          <div class="timeline-icon"></div>
          <div class="timeline-content left wow slideInLeft">
            <span class="date">Tháng 11/2017</span>
            <h4 class="title">
              Nhân dịp kỷ niệm 20 năm thành lập Trường (1997-2017)
            </h4>
            <p class="description">
              Đại học Lạc Hồng lần đầu tiên vinh dự đón nhận Huân chương
              Lao động hạng Nhất do Chủ tịch nước trao tặng... Qua đó tiếp
              thêm sức mạnh cho sự phát triển của Trường Đại học Lạc Hồng.
            </p>
            <div class="images">
              <a href="images/8_20_nam_thanh_lap/1.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/8_20_nam_thanh_lap/1.JPG"
                  data-alt="Kỷ niệm 20 năm"
                ></div></a
              ><a href="images/8_20_nam_thanh_lap/2.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/8_20_nam_thanh_lap/2.JPG"
                  data-alt="Kỷ niệm 20 năm"
                ></div></a
              ><a class="d-none" href="images/8_20_nam_thanh_lap/3.JPG"
                ><div
                  class="img-fluid wow-lazy element gradient"
                  data-src="images/8_20_nam_thanh_lap/3.JPG"
                  data-alt="Kỷ niệm 20 năm"
                ></div
              ></a>
            </div>
            <div class="text-right">
              <small class="load-more" data-section="#section-13"
                >Xem thêm</small
              >
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </div>
</div>
